

body {font-family: 'Lato', sans-serif;}


h1 { font-size: 26px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	color: #37393b;
	font-family: 'Playfair Display', serif;
    font-weight: 200;}

h2 {

  text-align: center;
  font-family: 'Playfair Display', serif;
	letter-spacing: 1px;
	font-weight: 400;
	color: #2b2a29;
    font-size: 20px;
} 

h3 {
text-transform: uppercase;
text-align: left;
    letter-spacing: 2px;
    font-size: 13px;
    color: #b6b5b5;
    margin: 0 auto;
    font-weight: 500;
    display: block;
} 

h4 {
	text-transform: uppercase;
	text-align: left;
		letter-spacing: 2px;
		font-size: 15px;
		color: #fff;
		margin: 0 auto;
		font-weight: 500;
		display: block;
	} 

p {
	color: #585858;
	font-weight: 200;
    letter-spacing: .5px;
	font-size: 16px;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 

}    

#menu { display: block}

#menu_cel { display: none}


#solesdi_inicio { height: 100vh; padding: 0; background: #2b2a29}
#solesdi_inicio .container {     position: absolute;top: 41%;right: 0px;z-index: 5;max-width: 30%;}

#solesdi_locations {  padding: 120px 0; background: #2b2a29}
#solesdi_locations  h1 {font-size: 48px;text-align: left;letter-spacing: 0px;color: #fff;text-transform: inherit;}
#solesdi_locations h3 { font-size: 16px; font-weight: 200; letter-spacing: 5px; margin-top: 60px;}
#solesdi_locations p {font-size: 24px;line-height: 36px; color: #a5a5a5;}
#solesdi_locations hr { width: 80px; margin-top: 50%; float: right}


#section_slogan { background: #f2f2f2; padding: 80px 0 0 0;}

#section_projects { background: #f2f2f2; padding: 80px 0;}  
#section_projects h2 { text-transform: uppercase; font-weight: 400; font-size: 18px; text-align: left; }
#section_projects figure.snip1321 h2 { text-align: center;  font-size: 22px;}


#section_contacto {padding: 80px 0;}

#section_news { padding: 80px 0;}
#section_news h2 { font-size: 34px; text-align: left;}
#section_news .rectangulo { margin: 20px 0 30px 0;}
#section_news p span { font-weight: 500; }
#section_news .btn {    max-width: 200px; margin: 20px 0;}
#section_news .row:nth-child(even) .large-6 { float: right;}


#section_news_open { padding: 100px 0;}
#section_news_open h2 { font-size: 28px;}

#footer { background: #2b2a29; padding: 40px 0;  text-align: center; position: relative}
#footer img { max-width: 170px}
#footer h4 {    text-align: right;     margin-top: 30px;}
#footer h2{    font-family: 'Lato', sans-serif;
	position: absolute;
	top: -60px;
    color: #a5a4a3;
    font-size: 11px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, -50%); }
#footer a { text-align: left; color: #fff;}
#footer h3 { font-size: 11px; text-align: right; margin-top: 10px; display: inline-block}
#footer .footer_logo img { max-width: 150px; margin-bottom: 20px; display: block;   text-align: left;}
#footer .btn2 {    padding: 0.9375rem 0.875rem; }
#footer p {color: #b5b5b5;    text-align: justify; }
#footer ul { text-align: center; margin: 0 auto}
#footer ul li {   display: inline-block;
    color: #fff;
    margin: 0 10px;}

#projects .container2 { max-width: 600px; margin: 0 auto; display: block; text-align: center;}
#projects h2 { text-align: center; text-transform: uppercase; font-size: 18px;}
#projects .brand img{ max-width: 130px; margin: 0 auto; display: block; margin-top: 10px; }
#projects h3 { text-align: center;     color: #37393b; margin-top: 0px;}
#projects h3 span { color: #b6b5b5}



a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
#projects { padding: 80px 0;}
#projects select { 
	max-width: 200px;
    border: none;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid #2b2a29;}

#solesdi_about { padding: 120px 0; background: #2b2a29}
#solesdi_about h1 { margin-right: -70px; text-shadow: 1px 2px 8px #313131; font-weight: bold; letter-spacing: 7px; margin-top: 99%;color: #fff; font-family: 'Lato', sans-serif; position: relative; z-index: 3;     text-align: right; }

#section_welcome { background: #f2f2f2; padding: 120px 0;}  
#section_welcome h1{  text-align: left;}  
#section_welcome .rectangulo{  margin: 0 ;} 
#section_welcome p { text-align: justify;font-size: 20px;} 

#section_locations .container { position: absolute; top: 40%; right: -10px;}
#section_locations img { padding: 0 20px;}
#section_locations h3 { margin-top: 20px; margin-bottom: 10px; font-size: 17px; font-weight: 300; letter-spacing: 5px; color: #585858;}
#section_locations h2 { margin-top: 30%;     font-size: 30px;text-align: left;text-transform: uppercase;letter-spacing: 5px;}
#section_locations h1 {text-align: left;color: #fff;font-size: 40px;font-weight: 700;text-shadow: 1px 1px 11px #000;}
#section_locations { padding: 120px 0;}  
#section_locations .btn { margin: 10px 0;}
#section_locations ul { text-align: center; margin-top: 50px;}
#section_locations li { display: inline-block}
#section_locations li img{  max-width: 120px;}

.gris #section_locations { background: #f2f2f2;}
.gris #section_locations .container { position: absolute; top: 40%; left: -10px;}

#section_team {padding: 120px 0 0 0;}
#section_team h1{  text-align: left;}  
#section_team .rectangulo{  margin:10px 0  20px 0; ;} 
#section_team img{   margin-top: -150px;}    

#section_press { padding: 150px 0;}
#section_press img{ margin: 0 auto; display:block;}

#contact_form input, #contact_form textarea {    color: #37393b !important;width: 100%;height: 70px;padding-left: 10px;background: transparent;border: none;margin-bottom: 10px;border-bottom: 2px solid #D4D4D4;box-shadow: none;color: #333; -webkit-transition: all .2s linear 0s;-moz-transition: all .2s linear 0s;-o-transition: all .2s linear 0s;transition-property: all .2s linear 0s;}
#contact_form input:focus, #contact_form textarea:focus {border-bottom:2px solid #2b2a29}
#contact_form input::placeholder {color: #757575; font-size: 12px; text-transform: uppercase; letter-spacing: 2px;}
#contact_form textarea {height: 150px;font-size:16px;}
#contact_form .boton {      background: #222222;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 14px;
    height: 48px;
    border: none;
    max-width: 208px;
    cursor: pointer;
	text-align: center;
	float: right;
    letter-spacing: 2px;
    margin-top: 40px;}
#contact_form .boton:hover { background:#2b2a29;color: #fff; }

#error, #mail_success, #mail_fail {display: none;}
#error, #mail_fail {    color: #FFFFFF;background: rgb(228, 82, 82);
    width: 100%;text-align: center;margin-bottom: 10px;padding: 10px;font-size: 18px;}
#mail_success {    color: #FFFFFF;background: #00a896;
    width: 100%;text-align: center;margin-bottom: 10px;padding: 10px;font-size: 18px;}   

#error, #mail_success {display: none}


.margincero { margin: 0; padding: 0;}

.black { background: #161615; padding: 50px 80px 20px 80px !important; }


.top10 { margin-top: 10px;}
.top20 { margin-top: 20px;}
.top30 { margin-top: 30px;}
.top40 { margin-top: 40px;}
.top50 { margin-top: 50px;}
.top60 { margin-top: 60px;}
.top70 { margin-top: 70px;}
.top80 { margin-top: 80px;}
.top90 { margin-top: 90px;}

.top40p { margin-top: 30%;}

.button {    margin: 0 0 10px;}


.pad10 { padding: 30px}
.pad20 { padding: 40px}
.pad40 { padding-top: 40px;}
.pad70 { padding-top: 70px;}
.pad100 { padding-top: 100px;}

.relative { position: relative}

.logo img { max-width: 220px;}
.logos img { max-width: 110px; }

.rectangulo { width: 50px; height: 2px; background: #000; margin: 10px auto; display: block; text-align: center; }
.rectangulo2 {     height: 50px;
    width: 1px;
    background: #dcdcdc;
    margin: 40px auto;
    margin-top: -46px;
    display: block;
    text-align: center; }

.owl-prev, .owl-next { position: absolute; right: 0%; color: #fff; font-size: 50px; font-weight: bold}
/* .owl-controls{display: none;}
.owl-prev, .owl-next{display: none;} */
.owl-prev, .owl-next img { max-width: 20px;}
.owl-prev{ top: 20%; right: 10%;}
.owl-next { top: 65%; right: 10%}
/* .owl-carousel .owl-item {padding: 0 80px;}  */
.owl-carousel .owl-item {padding: 0 0 0 0;}
.owl-carousel .owl-item .active{background: #000;}


.btn { position: relative; z-index: 2; background: #353331; padding: 0.9375rem 1.875rem; color: #fff; max-width: 250px; margin: 0 auto; display: block; text-transform: uppercase; font-size: 12px; letter-spacing: 2px; margin-top: 20px; text-align: center; -webkit-transition: all .2s linear 0s;-moz-transition: all .2s linear 0s;-o-transition: all .2s linear 0s;transition-property: all .2s linear 0s; cursor: pointer}
.btn:hover { background: #1d1c1b;}

.btn2 { position: relative; z-index: 2; background: #f2f2f2; padding: 0.9375rem 1.875rem; color: #292827; max-width: 250px; margin: 0 auto; display: block; text-transform: uppercase; font-size: 12px; letter-spacing: 2px; margin-top: 20px; text-align: center; -webkit-transition: all .2s linear 0s;-moz-transition: all .2s linear 0s;-o-transition: all .2s linear 0s;transition-property: all .2s linear 0s; cursor: pointer}
.btn2:hover { background: #d6d6d4;}

.large-20 { width: 20%}

/* LANDING */

#landing .logo img {
position: absolute;
max-width: 260px;
top: 8%;
left: 50%;
transform: translate(-50%, -50%);}

#landing p {
	color: #e2e2e2;
		margin-top: 50px;
		text-align: center;
}



.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

/* MIXITUP
---------------------------------------------------------------------- */
/* Controls
---------------------------------------------------------------------- */

.controls {
    padding: 1rem;
	font-size: 0.1px;
	text-align: center;
}

.controls > select {
    margin-right: .75rem;
}

/* Container
---------------------------------------------------------------------- */

.container {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}


#popUp {
  position: fixed;
  max-width: 350px;
	height: 145px;
	z-index: 9999;
  background: rgba(236, 240, 241, 1);
  border: 7px solid #fff;
  bottom: 0;
  margin-left: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#new span {
  background: #fff;
  position: absolute;
  color: #2b2a29;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: -5px;
}

#popUp .close {
  color: #464646;
  right: 8px;
  top: 0px;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
}

#popUp h2 {
  font-size: 17px;
  color: #464646;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  padding: 0 20px;
}


#plus {
  position: fixed;
  color: #fff;
  bottom: 15%;
  font-size: 15px;
  margin-left: -425px;
  -webkit-transition: all 1.25s ease;
  -moz-transition: all 1.25s ease;
  -o-transition: all 1.25s ease;
  transition: all 1.25s ease;
  cursor: pointer;
  text-align: left;
  letter-spacing: 1px;
}

#plus span {
  position: absolute;
  margin-top: 38px;
  left: 4px;
}

#plus::after {
  content: '';
  display: block;
  display: relative;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-left: 55px solid #959494;
}

@media all and (max-width: 900px) {
  #popUp {
    margin-left: -425px;
  }
  #plus {
    margin-left: 0px;
  }
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
   
    margin-bottom: 1rem;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 1%;
}


/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

.blackwhite {
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
		 -o-transition: all 1s ease;
		-ms-transition: all 1s ease;
			transition: all 1s ease;
  }
  
  .blackwhite:hover {
	-webkit-filter: grayscale(100%);
  }


/* Hover */
figure.snip1321 {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	width: 100%;
	color: #000000;
	text-align: center;
	-webkit-perspective: 50em;
	perspective: 50em;
	margin-bottom: 20px;
	margin-top: 20px;
  }
  figure.snip1321 * {
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
  }
  figure.snip1321 img {
	max-width: 100%;
	vertical-align: top;
  }
  figure.snip1321 figcaption {
	top: 50%;
	left: 20px;
	right: 20px;
	position: absolute;
	opacity: 0;
	z-index: 1;
  }
  figure.snip1321 h2,
  figure.snip1321 h4 {
	margin: 0;
  }
  figure.snip1321 h2 {
	font-weight: 600;
  }
  figure.snip1321 h4 {
	font-weight: 400;
	text-transform: uppercase;
  }
  figure.snip1321 i {
	font-size: 32px;
  }
  figure.snip1321:after {
	background-color: #ffffff;
	position: absolute;
	content: "";
	display: block;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	opacity: 0;
  }
  figure.snip1321 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	/*  z-index: 1; */
  }
  figure.snip1321:hover figcaption,
  figure.snip1321.hover figcaption {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
  }
  figure.snip1321:hover:after,
  figure.snip1321.hover:after {
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
	opacity: 0.9;
  }



  /* MENU */
/*B&W*/
.button.secondary:focus { opacity: 1}
.button.secondary { background: transparent;     padding: 0px 0;     float: right; margin-right: 20px;}
.button.secondary:focus, .button.secondary:hover { background: transparent}
.bw{
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
          opacity: .5
}
 
.bw:hover {
  opacity: 1;
}


*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


nav a {
	position: relative;
	display: inline-block;
  font-family: 'Lato', sans-serif;
  margin-top: 14px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	font-size: 12px;
  margin-left: 30px;
  margin-right: 30px;
}

nav a:hover,
nav a:focus {
	outline: none;
  color: rgb(25, 210, 197);
  
}



#projects figure { margin: 0}

.snip1577 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}






/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #a5a4a3;
	/* Force Hardware Acceleration */
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
	will-change: transform;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
  }
  .cd-auto-hide-header::after {
	clear: both;
	content: "";
	display: block;
  }
  .cd-auto-hide-header.is-hidden {
	-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
			transform: translateY(-100%);
  }
  @media only screen and (min-width: 1024px) {
	.cd-auto-hide-header {
	  height: 80px;
	}
  }
  
  .cd-auto-hide-header .logo,
  .cd-auto-hide-header .nav-trigger {
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
  }
  
  .cd-auto-hide-header .logo {
	left: 5%;
  }
  .cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
	display: block;
  }
  
  .cd-auto-hide-header .nav-trigger {
	/* vertically align its content */
	display: table;
	height: 100%;
	padding: 0 1em;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #25283D;
	font-weight: bold;
	right: 0;
	border-left: 1px solid #f2f2f2;
  }
  .cd-auto-hide-header .nav-trigger span {
	/* vertically align inside parent element */
	display: table-cell;
	vertical-align: middle;
  }
  .cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
	/* this is the menu icon */
	display: block;
	position: relative;
	height: 2px;
	width: 22px;
	background-color: #ffffff;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
  }
  .cd-auto-hide-header .nav-trigger em {
	/* this is the menu central line */
	margin: 6px auto 14px;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
  }
  .cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
	position: absolute;
	content: '';
	left: 0;
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
  }
  .cd-auto-hide-header .nav-trigger em::before {
	/* this is the menu icon top line */
	-webkit-transform: translateY(-6px);
		-ms-transform: translateY(-6px);
			transform: translateY(-6px);
  }
  .cd-auto-hide-header .nav-trigger em::after {
	/* this is the menu icon bottom line */
	-webkit-transform: translateY(6px);
		-ms-transform: translateY(6px);
			transform: translateY(6px);
  }
  @media only screen and (min-width: 1024px) {
	.cd-auto-hide-header .nav-trigger {
	  display: none;
	}
  }
  
  .cd-auto-hide-header.nav-open .nav-trigger em {
	/* transform menu icon into a 'X' icon */
	background-color: rgba(255, 255, 255, 0);
  }
  .cd-auto-hide-header.nav-open .nav-trigger em::before {
	/* rotate top line */
	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
  }
  .cd-auto-hide-header.nav-open .nav-trigger em::after {
	/* rotate bottom line */
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
  }
  
  .cd-primary-nav {
	display: inline-block;
	float: right;
	height: 100%;
	padding-right: 5%;
  }
  .cd-primary-nav > ul {
	position: absolute;
	z-index: 2;
	top: 60px;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	display: none;
	box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
  }
  .cd-primary-nav > ul a {
	/* target primary-nav links */
	display: block;
	height: 50px;
	line-height: 50px;
	padding-left: 5%;
	color: #25283D;
	font-size: 1.8rem;
	border-top: 1px solid #f2f2f2;
  }
  .cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
	color: #8F3985;
  }
  @media only screen and (min-width: 1024px) {
	.cd-primary-nav {
	  /* vertically align its content */
	  display: table;
	}
	.cd-primary-nav > ul {
	  /* vertically align inside parent element */
	  display: table-cell;
	  vertical-align: middle;
	  /* reset mobile style */
	  position: relative;
	  width: auto;
	  top: 0;
	  padding: 0;
	  background-color: transparent;
	  box-shadow: none;
	}
	.cd-primary-nav > ul::after {
	  clear: both;
	  content: "";
	  display: block;
	}
	.cd-primary-nav > ul li {
	  display: inline-block;
	  float: left;
	  margin-right: 1.5em;
	}
	.cd-primary-nav > ul li:last-of-type {
	  margin-right: 0;
	}
	.cd-primary-nav > ul a {
	  /* reset mobile style */
	  height: auto;
	  line-height: normal;
	  padding: 0;
	  border: none;
	}
  }
  
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
	/* 
		show primary nav - mobile only 
		:target is used to show navigation on no-js devices
	*/
	display: block;
  }
  @media only screen and (min-width: 1024px) {
	.nav-open .cd-primary-nav ul,
	.cd-primary-nav ul:target {
	  display: table-cell;
	}
  }



.idiomas { 
	position: fixed;
	right: 3%;
	top: 1%;}
.idiomas p {font-size: 13px; color: #fff}
.idiomas a { color: #8e8e8d}

/* Effect 3: bottom line slides/fades in */
.cl-effect-3 a {
	padding: 8px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}




.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*background: transparent;*/
  background: #2b2a29 ;
	z-index: 9;
	height: 75px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
	margin: 0 auto;
	padding: 22px 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}


.cbp-af-header h1 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 4em;
	margin: 0;
	float: left;
}

.cbp-af-header nav {
	float: right;
	  
}



.cbp-af-header nav a {
	color: #FFF;
  -webkit-font-smoothing: antialiased;
	font-weight: 700;
	  letter-spacing: 2px;
  margin:0px 10px 0 10px;
	font-size: 11px;
	  cursor: pointer;
	  
}

.cbp-af-header nav span{
    content: '/';
    font-family: 'fontello';
    font-style: italic;
    color: rgba(255, 255, 255, 0.48);
        top: 11px;
        position: absolute;
        margin-top: -6px;
		margin-left: 0px;}


/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 80px;
	/*background-color:#a5a4a3;*/
  background-color:#8F6D3E;


	  border:none;
        box-shadow: 0px 1px 5px rgba(45, 45, 45, 0.36);

}

.cbp-af-header.cbp-af-header-shrink .logo2 img{
	  max-height: 75px;
  padding-top: 22px;

}



.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header h1,
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		
	}

	.cbp-af-header h1,
	.cbp-af-header nav a {
		line-height: 25px;
	}

	.cbp-af-header nav a {
		margin: 30px 10px;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		  line-height: 15px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		  font-size: 12px;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		  font-size: 12px;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
	
	.large-20 { width: 50%}
}

@media (min-width: 1565px) {
.logos img { max-width: 140px;}
#footer .row { max-width: 1500px;}
#footer .btn2 { right: 19%;}
}



@media (max-width: 768px) {


nav a {    margin-left: 10px; margin-right: 10px; }
#solesdi_about h1 {    margin-right: 70px;    margin-top: 10%;}

}


@media (max-width: 414px) { 

	#menu { display: none}
	.logo img {    max-width: 160px;}

#menu_cel { display: block}
#menu_cel nav a { margin-top: 0; font-size: 12px;}
.cbp-af-header nav span {display: none;}

.owl-prev, .owl-next img {max-width: 8px;}
.owl-carousel .owl-item {    padding: 0 40px;}

#solesdi_inicio .container {max-width: 50%;}

#section_locations {    padding: 30px 0;}
#section_locations h2 {margin-top: 20px; font-size: 22px;}
#section_locations img {padding: 0 0px;}

#projects .btn { margin-top: 0;}

#section_news {    padding: 20px 0;}

figure.snip1321 figcaption {    left: 3px;
    right: 3px;}

#solesdi_locations {    padding: 50px 0;}
#solesdi_locations h1 {font-size: 38px;}
#solesdi_locations p {font-size: 16px;     line-height: 23px;}

#footer img {display: none;}
#footer h4 {    text-align: center;}
#footer .footer_logo img {    margin: 0 auto;}

#solesdi_inicio {    height: auto;
    padding: 110px 0 230px 0;
    background: #2b2a29; }

.rectangulo2 {margin-top: -26px;}

.large-20 { width: 100%}


.owl-prev, .owl-next  { right: 14px;}


}




